// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../pebbles/includes/lib';
@import '../hubs/sections';
@import '../hubs/masthead';
@import '../hubs/sub-nav';
@import '../quantum/common';

/* -------------------------------------------------------------------------- */
// Common elements & variables

main {
    background: #000;
    background: url('/media/img/firefox/switch/oval.png') top left 38% no-repeat,
                url('/media/img/firefox/switch/wave.png') bottom left no-repeat,
                linear-gradient(-53deg, #07090B 45%, #0042A9 63%, #01C2FA 100%) top left no-repeat,
                #000;
    color: #fff;
    overflow: hidden;
    padding-top: 20px;
    position: relative;

    a:link,
    a:visited {
        color: #48c7ff;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            color: #48c7ff;
            text-decoration: underline;
        }
    }

    h1 {
        color: #fff;
    }

    h1 {
        @include font-size-level2;
        margin-bottom: 40px;
    }

    .tagline {
        @include font-size-level4;
        margin-bottom: 20px;
    }

    .outer-container {
        z-index: 0;
    }

    .inner-container {
        z-index: 1;
    }

    header {
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;
    }

    ol {
        @include font-size-level4;
        font-weight: bold;
        margin: 40px 0;

        li {
            margin-bottom: 20px;
        }
    }

    footer {
        @include font-size-small;
        margin-top: 40px;

        h2 {
            @include font-size-small;
            margin-bottom: 20px;
        }

        &> ul li {
            margin-bottom: 20px;
        }
    }

    @media #{$mq-desktop} {

        .outer-container {
            position: relative;

            &:before {
                background: url('/media/img/firefox/switch/wave.png') top left no-repeat;
                bottom: 0;
                content: '';
                height: 546px;
                left: 0;
                position: absolute;
                width: 1428px;
                z-index: -1;
            }

            &:after {
                background: url('/media/img/firefox/switch/face.png') top left no-repeat;
                top: -120px;
                content: '';
                height: 1221px;
                position: absolute;
                right: -650px;
                width: 1150px;
                z-index: -2;
            }
        }

        .inner-container {
            width: 60%;
        }
    }

    @media #{$mq-desktop-wide} {
        background: url('/media/img/firefox/switch/oval.png') top left 38% no-repeat,
                    linear-gradient(-53deg, #07090B 40%, #0042A9 63%, #01C2FA 100%) top left no-repeat,
                    #000;
        padding-top: 80px;

        header {
            padding-bottom: 40px;
        }

        ol {
            margin-top: 60px;
        }

        footer {
            margin-top: 80px;
        }

        .outer-container {
            margin: 0 auto;
            max-width: 1800px;

            &:after {
                right: -450px;
                top: -180px;
            }
        }
    }

    @media screen and (min-width: 1800px) {
        background: url('/media/img/firefox/switch/oval.png') top left 38% no-repeat,
                    url('/media/img/firefox/switch/wave.png') bottom left no-repeat,
                    linear-gradient(-53deg, #07090B 40%, #0042A9 63%, #01C2FA 100%) top left no-repeat,
                    #000;

        .outer-container:before {
            content: none;
        }
    }
}
